// colors
$primary-color: #0D606F;
$light-color: #FFFFFF;
$accent-color:#F2785C;


// fonts
$main-font: 'Red Hat Text';

// break-points 
$xl-screen: 1200px;
$l-screen: 992px;
$m-screen: 768px;
$s-screen: 480px;
$xs-screen: 390px;
$xxs-screen: 320px;

